<div class="container">
  <footer class="class">
    <small>
      Copyright &copy; by <a>harshj</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "about ",about_path %></li>
        </ul>
      </nav>
  </footer>
</div>
